CortexClient/Service References/ServiceReference1/CortexService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://vmctrxdevs1:4590/CortexService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CortexWebService" />
  <xs:element name="getDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealResult" nillable="true" type="q1:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDeals">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealsResult" nillable="true" type="q2:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="d" nillable="true" type="q3:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDealResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="d" nillable="true" type="q4:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeDealResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="d" nillable="true" type="q5:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDealResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealsByDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealsByDescriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealsByDescriptionResult" nillable="true" type="q6:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealByDateResult" nillable="true" type="q7:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeDealById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeDealByIdResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeDealByDescription">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeDealByDescriptionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getSecurityResult" nillable="true" type="q8:Security" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="sec" nillable="true" type="q9:Security" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSecurityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="sec" nillable="true" type="q10:Security" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSecurityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSecurity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeSecurityResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCompanyResult" nillable="true" type="q11:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="sec" nillable="true" type="q12:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="sec" nillable="true" type="q13:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCompanyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDocumentResult" nillable="true" type="q14:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCurrencyResult" nillable="true" type="q15:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getEventResult" nillable="true" type="q16:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getEventTypeResult" nillable="true" type="q17:EventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDocumentGroupResult" nillable="true" type="q18:DocumentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getSecurityGroupResult" nillable="true" type="q19:SecurityGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getSecurityTypeResult" nillable="true" type="q20:SecurityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyAssociationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCompanyAssociationResult" nillable="true" type="q21:CompanyAssociation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCompanyAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeCompanyAssociationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompanyAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="ca" nillable="true" type="q22:CompanyAssociation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateCompanyAssociationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addCompanyAssociation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="ca" nillable="true" type="q23:CompanyAssociation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCompanyAssociationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastCompany">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getLastCompanyResult" nillable="true" type="q24:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastCompanyAssociation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastCompanyAssociationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getLastCompanyAssociationResult" nillable="true" type="q25:CompanyAssociation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastSecurity">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastSecurityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getLastSecurityResult" nillable="true" type="q26:Security" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastSecurityGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastSecurityGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getLastSecurityGroupResult" nillable="true" type="q27:SecurityGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSecurityGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="newSG" nillable="true" type="q28:SecurityGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSecurityGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addDocumentGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="newDG" nillable="true" type="q29:DocumentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDocumentGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrencyByCodeOrName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codename" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrencyByCodeOrNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCurrencyByCodeOrNameResult" nillable="true" type="q30:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDocumentGroup">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDocumentGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getLastDocumentGroupResult" nillable="true" type="q31:DocumentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getPriceResult" nillable="true" type="q32:Price" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatisticType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStatisticTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getStatisticTypeResult" nillable="true" type="q33:StatisticType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnnualCompanyStatistic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnnualCompanyStatisticResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getAnnualCompanyStatisticResult" nillable="true" type="q34:AnnualCompanyStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealTypeResult" nillable="true" type="q35:DealType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="c" nillable="true" type="q36:Currency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addCurrencyResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="d" nillable="true" type="q37:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="e" nillable="true" type="q38:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="e" nillable="true" type="q39:EventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addEventTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="p" nillable="true" type="q40:Price" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addPriceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addAnnualCompanyStatistic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="acs" nillable="true" type="q41:AnnualCompanyStatistic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addAnnualCompanyStatisticResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addStatisticType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="st" nillable="true" type="q42:StatisticType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addStatisticTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addDealType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="dt" nillable="true" type="q43:DealType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addDealTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addSecurityType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="st" nillable="true" type="q44:SecurityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addSecurityTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDocumentGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="dg" nillable="true" type="q45:DocumentGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDocumentGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSecurityGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="sg" nillable="true" type="q46:SecurityGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateSecurityGroupResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDocumentByNameResult" nillable="true" type="q47:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="d" nillable="true" type="q48:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDocument">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getLastDocumentResult" nillable="true" type="q49:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealByCompany">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="c" nillable="true" type="q50:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealByCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealByCompanyResult" nillable="true" type="q51:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealListResult" nillable="true" type="q52:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnalyst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnalystResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getAnalystResult" nillable="true" type="q53:Analyst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnalystByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnalystByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getAnalystByNameResult" nillable="true" type="q54:Analyst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentDate">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCurrentDateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealStatusResult" nillable="true" type="q55:DealStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCategoryResult" nillable="true" type="q56:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealTeamResult" nillable="true" type="q57:ArrayOfMapDealAnalyst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMapDealAnalyst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="mda" nillable="true" type="q58:MapDealAnalyst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMapDealAnalystResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addMapDealAnalyst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="mda" nillable="true" type="q59:MapDealAnalyst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMapDealAnalystResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMapDealAnalyst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DealId" type="xs:int" />
        <xs:element minOccurs="0" name="AnalystId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMapDealAnalystResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getMapDealAnalystResult" nillable="true" type="q60:MapDealAnalyst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealByAnalyst">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="m" nillable="true" type="q61:Analyst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealByAnalystResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealByAnalystResult" nillable="true" type="q62:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="d" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventsByDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getEventsByDealResult" nillable="true" type="q63:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentsByDeal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDocumentsByDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDocumentsByDealResult" nillable="true" type="q64:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastEvent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastEventResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getLastEventResult" nillable="true" type="q65:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="removeMapDealAnalyst">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="removeMapDealAnalystResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="usr" nillable="true" type="q66:ApplicationUser" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="d" nillable="true" type="q67:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="usr" nillable="true" type="q68:ApplicationUser" />
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="d" nillable="true" type="q69:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="usr" nillable="true" type="q70:ApplicationUser" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="d" nillable="true" type="q71:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="usr" nillable="true" type="q72:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailLoginResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailLogout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="usr" nillable="true" type="q73:ApplicationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailLogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailView">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="usr" nillable="true" type="q74:ApplicationUser" />
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="d" nillable="true" type="q75:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuditTrailViewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="ds" nillable="true" type="q76:DealStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealByStatusResult" nillable="true" type="q77:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealsByCategoryClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealsByCategoryClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealsByCategoryClassResult" nillable="true" type="q78:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriesByClass">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="className" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriesByClassResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCategoriesByClassResult" nillable="true" type="q79:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="c" nillable="true" type="q80:Category" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealsByCategoryResult" nillable="true" type="q81:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDeal">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastDealResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getLastDealResult" nillable="true" type="q82:Deal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriesByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriesByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCategoriesByNameResult" nillable="true" type="q83:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealStatusByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealStatusByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealStatusByNameResult" nillable="true" type="q84:DealStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getSecurityByCodeResult" nillable="true" type="q85:Security" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanyByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCompanyByNameResult" nillable="true" type="q86:Company" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealsByCriteria">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="company1" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
        <xs:element minOccurs="0" name="categoryClass" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="analyst" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealsByCriteriaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealsByCriteriaResult" nillable="true" type="q87:ArrayOfDeal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompanies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCompaniesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCompaniesResult" nillable="true" type="q88:ArrayOfCompany" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecuritiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getSecuritiesResult" nillable="true" type="q89:ArrayOfSecurity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnalysts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAnalystsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getAnalystsResult" nillable="true" type="q90:ArrayOfAnalyst" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getSecurityTypesResult" nillable="true" type="q91:ArrayOfSecurityType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMergerArb">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMergerArbResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getMergerArbResult" nillable="true" type="q92:MergerArb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMergerArb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="mb" nillable="true" type="q93:MergerArb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMergerArbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="addMergerArb">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="mb" nillable="true" type="q94:MergerArb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMergerArbResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getMergerArbByDealId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMergerArbByDealIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getMergerArbByDealIdResult" nillable="true" type="q95:MergerArb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getEventTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getEventTypesResult" nillable="true" type="q96:ArrayOfEventType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrencies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCurrenciesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCurrenciesResult" nillable="true" type="q97:ArrayOfCurrency" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealStatuses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDealStatusesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getDealStatusesResult" nillable="true" type="q98:ArrayOfDealStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategories">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCategoriesResult" nillable="true" type="q99:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryClasses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getCategoryClassesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getCategoryClassesResult" nillable="true" type="q100:ArrayOfCategory" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMergerArbNewByDealId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMergerArbNewByDealIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getMergerArbNewByDealIdResult" nillable="true" type="q101:ArrayOfMergerArbNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMergerArbNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="mb" nillable="true" type="q102:MergerArbNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMergerArbNewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMergerArbNew">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="mb" nillable="true" type="q103:MergerArbNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateMergerArbNewResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityGroupBySecurity1">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSecurityGroupBySecurity1Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getSecurityGroupBySecurity1Result" nillable="true" type="q104:SecurityGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMergerArbNewByValue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMergerArbNewByValueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/CortexWebService" minOccurs="0" name="getMergerArbNewByValueResult" nillable="true" type="q105:ArrayOfMergerArbNew" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>